body {
    font-family: 'Montserrat', sans-serif;
    
}

.titulo1 {
    color: #e20000;
    margin-top: 30px;
}

.titulo2 {
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 30px;
}

p {
    color: #6a6a6a;
    padding-top: 10px;
    padding-bottom: 15px;
}

#sobre-mi {
    background-image: url("../images/fondo-proyecto.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#sobre-mi main {
    
    
}

nav .nav-link {
    color: #282828;
}

nav .active {
    border: 1px solid #e20000;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}

#sobre-mi footer, #sobre-mi footer a{
    color: #e20000;
    font-weight: 100;
    font-size: 14px;
}

#sobre-mi footer .fa-whatsapp {
    color: white;
    background-color: #370A6D;
    font-size: 30px;
    padding: 10px 19px;
    border-radius: 10px 10px 0 0;
    height: 65px;
    width: 65px;
}

#sobre-mi footer .fa-github {
    font-size: 30px;
    color:#e20000;
}

#sobre-mi footer .fa-linkedin-in {
    color: white;
    background-color: #e20000;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

#idiomas .fa-comment-alt{
    font-size: 80px;
    color: white;
    background-color: #370A6D;
    padding: 50px;
    border-radius: 20px;
}

.btn {
    background-color: #ffffff;
    color: #370A6d;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 35px;
}

.btn:hover {
    color: #ffffff;
    background-color: #370A6D;
}

.btn-pdf {
    background-color: #e20000;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 100;
}

.btn-pdf:hover {
    text-decoration: underline;
    color: #FFFFFF;
    background-color: #370a6d;
}

.img-circle {
    border-radius: 50% !important;
    padding: 15px;
    background-color: #fff;
}

#tecnologias{
    background: rgba(184,37,20,1);
    background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
    background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}

#tecnologias .card {
    height: 182px;
    border-radius: 10px;
}

#idiomas .card { 
    border-radius: 20px;
}

#idiomas .caja1{
    display: flex;
}

#idiomas h3 , span {
    display: block;
}


    














